@CHARSET "UTF-8";

body, .wrapper {
	padding: 0;
	margin: 0 auto;
}

.wrapper {
	width: 1010px;
	background-color: #E5E6E7;
}

.header {
	width: 100%;
	height:96px;
}

.catalog {
	width: 96px;
	height:96px;
	float: left;
}

.content {
	width: 96px;
	height:96px;
	float: left;
}

.footer {
	width: 100%;
	height:96px;
}

.clear {
	clear: both;
}

/* norepeat-sprite */

.norepeat_sprite {
	background-repeat: no-repeat;background-image:url("../images/norep_spritesheet.png");
}

.ai_bg_bl {width:8px; height:8px; background-position: -60px -114px}
.ai_bg_br {width:8px; height:8px; background-position: -149px -119px}
.ai_bg_tl {width:8px; height:8px; background-position: -203px -113px}
.ai_bg_tr {width:8px; height:8px; background-position: -191px -100px}
.ai_label_action {width:100px; height:30px; background-position: -0px -84px}
.ai_label_special {width:101px; height:39px; background-position: -0px -45px}
.ai_price_bg_r {width:28px; height:47px; background-position: -178px -45px}
.at_bg_l {width:8px; height:35px; background-position: -159px -91px}
.at_bg_r {width:8px; height:35px; background-position: -230px -45px}
.catalog_border_bottom_crn {width:24px; height:16px; background-position: -167px -92px}
.catalog_border_top_crn {width:28px; height:14px; background-position: -0px -114px}
.catalog_gray_marker {width:5px; height:9px; background-position: -144px -119px}
.catalog_green_marker {width:5px; height:9px; background-position: -139px -119px}
.catalog_title_bg_l {width:8px; height:35px; background-position: -222px -45px}
.catalog_title_marker {width:9px; height:9px; background-position: -130px -119px}
.dev_logo {width:77px; height:46px; background-position: -101px -45px}
.exit {width:16px; height:14px; background-position: -28px -114px}
.logo {width:239px; height:45px; background-position: -0px -0px}
.radio_btn {width:30px; height:31px; background-position: -100px -91px}
.radio_btn_marker {width:18px; height:18px; background-position: -222px -80px}
.search_bottom_left_crn {width:8px; height:14px; background-position: -44px -114px}
.search_btn {width:29px; height:28px; background-position: -130px -91px}
.search_btn_left {width:2px; height:52px; background-position: -239px -0px}
.search_btn_right {width:16px; height:52px; background-position: -206px -45px}
.search_top_left_crn {width:8px; height:8px; background-position: -191px -92px}
.tool_tip_bl {width:18px; height:16px; background-position: -221px -98px}
.tool_tip_br {width:18px; height:16px; background-position: -203px -97px}
.tool_tip_crn {width:8px; height:8px; background-position: -52px -114px}
.tool_tip_tl {width:18px; height:16px; background-position: -185px -108px}
.tool_tip_tr {width:18px; height:16px; background-position: -167px -108px}

/* xrepeat-sprite */

.xrepeat_sprite {
   background-repeat: repeat-x;background-image:url("../images/xrep_spritesheet.png");
}

.ai_bg_bc {height: 8px; background-position: 0 0;}
.ai_bg_tc {height: 8px;background-position: 0 -8px;}
.ai_price_bg_c {height: 47px;background-position: 0 -16px;}
.at_bg_c {height: 35px;background-position: 0 -63px;}
.catalog_border_bottom_cnt {height: 8px;background-position: 0 -98px;}
.search_bottom_cnt {height: 14px;background-position: 0 -106px;}
.search_btn_cnt {height: 52px;background-position: 0 -120px;}
.search_top_cnt {height: 8px;background-position: 0 -172px;}
.tooltip_cb {height: 16px;background-position: 0 -180px;}
.tooltip_ct {height: 16px;background-position: 0 -196px;}

/* yrepeat-sprite */

.yrepeat_sprite {
    background-repeat: repeat-y;background-image:url("../images/yrep_spritesheet.png");
}

.ai_bg_lc {width: 8px;background-position: 0 0;}
.ai_bg_rc {width: 8px;background-position: -8px 0;}
.catalog_border_left_cnt {width: 28px;background-position: -16px 0;}
.search_left_cnt {width: 8px;background-position: -44px 0;}
.tool_tip_cl {width: 18px;background-position: -52px 0;}
.tool_tip_cr {width: 18px;background-position: -70px 0;}

/* xyrepeat-sprite */

.xyrepeat_sprite {
    background-repeat: repeat;
    display: block;
}

.header_bg {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAIAA\
											ADzWwNnAAAAGXRFWHRTb2Z0d2FyZQBBZG9i\
											ZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1\
											MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2\
											tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ\
											2VoaUh6cmVTek5UY3prYzlkIj8+IDx4Onht\
											cG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV\
											0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3\
											JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxM\
											y8wMy8xMy0xMjowOToxNSAgICAgICAgIj4g\
											PHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8\
											vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi\
											1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwd\
											GlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1w\
											PSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8\
											xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL2\
											5zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIge\
											G1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9i\
											ZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJ\
											jZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQW\
											RvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzK\
											SIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlp\
											ZDozM0FERUM4QzU4RUQxMUUzQUY2OUQxMzA\
											xNTBEQjQ5RSIgeG1wTU06RG9jdW1lbnRJRD\
											0ieG1wLmRpZDozM0FERUM4RDU4RUQxMUUzQ\
											UY2OUQxMzAxNTBEQjQ5RSI+IDx4bXBNTTpE\
											ZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUl\
											EPSJ4bXAuaWlkOjMzQURFQzhBNThFRDExRT\
											NBRjY5RDEzMDE1MERCNDlFIiBzdFJlZjpkb\
											2N1bWVudElEPSJ4bXAuZGlkOjMzQURFQzhC\
											NThFRDExRTNBRjY5RDEzMDE1MERCNDlFIi8\
											+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZj\
											pSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZ\
											XQgZW5kPSJyIj8+pYsk6QAAAEpJREFUeNpM\
											jUkKADAIA93+/1qvalNSigNuMaJmZnerqoj\
											MTCCqyt2hQjJZ3D2cZsYM6foBl8B+RwKzLo\
											KF6rvnf+Tn/ydojgADAA3GOPJA6JDuAAAAA\
											ElFTkSuQmCC");
}


.table_cc {
	background-color: #FFFFFF;
	width: 256px;
	height: 30px;
}

.tt_cc {
	background-color: #787777;
}

.tt_crn {
   	margin-left: 16px;
}


